<% include ../shared/header %>
  <h1>Index (outside JS App)</h1>
  <div id="index"><%- index %></div>
  <a href="/show">Show route</a>
  <script type="text/javascript" src="/lib/assets/javascripts/index.bundle.js"></script>
<% include ../shared/footer %>
